
.cuerpo{
    background: $bg-color;
    padding: 10px;
    display: flex;
    flex-direction: column;
    .tarjeta-inicio{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        .img-inicio{
            width: 370px;
            height: 370px;
            margin: 15px;
            padding: 10px;
            display: flex;
            object-fit: cover;
        }
        h2{
            @extend %titulos-h2;
        }
        p{
            font-size: 20px;
            text-align: justify;
            padding: 5px;
        }      
    }
    .redes-logo{
        width: 100px;
        height: 100px;
        object-fit: contain;
    }    
}
h2{
    text-align: center;
    font-size: 40px;
    font-family: Arial, sans-serif;
    margin: 15px;
    padding: 10px;
}

@media(max-width:768px){
    .cuerpo{
        background: $bg-color;
        margin: 0px auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .tarjeta-inicio{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .img-inicio{
                width: 280px;
                height: 280px;
                margin: 5px;
                object-fit: cover;
            }
        }
        .tarjeta-contenido{
            h2{
                font-size: 24px;
            }
            p{
                font-size: 16px;
            }
        }
        h2{
            font-size: 28px;
        }
        iframe{
            width: 95%;
            height: 95%;
        }
    }
}