
.cuerpo{
    background: $bg-color;
    padding: 10px;
    display: flex;
    flex-direction: column;
    .titulo-cuerpo{
        @extend %titulos-h2;
    }
    .tarjeta-inicio{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        .img-inicio{
            @include sizes (370px, 370px);
            margin: 15px;
            padding: 10px;
            display: flex;
            object-fit: cover;
        }
        h2{
            text-align: center;
            font-size: 40px;
            font-family: Arial, sans-serif;
            margin: 15px;
            padding: 10px;
        }
        p{
            font-size: 20px;
            text-align: justify;
            padding: 5px;
        }      
    }
    .redes-logo{
        @include sizes (100px, 100px);
        object-fit: contain;
    }
    .galeria{
        article{
            width: 700px;
        }
    }
    .lubri-servi{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .tarjeta-servicios{
            display: flex;
            width: 480px;
            margin: 5px;
            .img-servicios{
                @include sizes (200px, 200px);
                object-fit: cover;
                margin: 5px; 
                padding: 5px;
            }
            .contenido-servicios{
                display: flex;
                flex-direction: column;
                margin: 10px; 
                padding: 10px;
                h4{
                    font-size: 26px;
                }               
            }
        }
    } 
    .para-somos{
        font-size: 24px;
        text-decoration: solid;
    }
    .galeria-1{
        background-color: rgb(151, 148, 148);
        @extend %galerias;
        width: 750px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "h3 h3 h3" 
                             "img1 img2 img3" 
                             "img4 img5 img6" 
                             "img7 img8 img9";
        .img-quien{
            @extend %galeria-img;
            @include sizes (200px, 200px);
        }
        .h3-quien{
            grid-area: h3;
            color: black;
            padding: 10px;
        }
        img:nth-child(2){
            grid-area: img1;
        }
        img:nth-child(3){
            grid-area: img2;
        }img:nth-child(4){
            grid-area: img3;
        }
        img:nth-child(5){
            grid-area: img4;
        }
        img:nth-child(6){
            grid-area: img5;
        }img:nth-child(7){
            grid-area: img6;
        }
        img:nth-child(8){
            grid-area: img7;
        }
        img:nth-child(9){
            grid-area: img8;
        }img:nth-child(10){
            grid-area: img9;
        }
    }
    .galeria-2{
        background-color: rgb(253, 88, 88);
        @extend %galerias;
        width: 500px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "h3 h3" 
                             "img1 img2" 
                             "img3 img4" 
                             "img5 img6";
        .img-galeria{
            @extend %galeria-img;
            @include sizes (200px, 200px);
        }
        .h3-galeria{
            grid-area: h3;
            color: black;
            padding: 10px;
        }

    }    
    .formulario {
        width: 700px;
        background-color: white;
        box-shadow: 1px 1px 7px 2px #000000;
        margin: 40px auto;
        border-radius: 5px;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "contactanos contactanos" 
                             "nombre      email" 
                             "tel         asunto" 
                             "mensaje     mensaje" 
                             "boton       boton";
        h2 {
            grid-area: contactanos;
            color: black;
            padding: 10px;
        }
        label {
            display: flex;
            flex-direction: column;
            color: black;
            padding: 10px;
        }
        label input, label textarea {
            background-color: white;
            border: none;
            border-bottom: 1px solid black;
            padding: 10px;
            color: white;
        }
        label:nth-child(2) {
            grid-area: nombre;
        }
        label:nth-child(3) {
            grid-area: email;
        }
        label:nth-child(4) {
            grid-area: tel;
        }
        label:nth-child(5) {
            grid-area: asunto;
        }
        label:nth-child(6) {
            grid-area: mensaje;
        }
        button {
            grid-area: boton;
            background-color: rgb(245, 63, 63);
            color: black;
            border: none;
            border-radius: 5px;
            padding: 10px;
            font-size: 20px;
        }
    }     
}   


@media(max-width:1024px){
    .cuerpo{
        .lubri-servi{
            .tarjeta-servicios{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 300px;
            }                           
        }  
        .galeria{
            article{
                width: 80%;
            }
        } 
        iframe{
            @include sizes (350px, 290px);
            margin: 2rem;
        } 
    }
}
@media(max-width:768px){
    .cuerpo{
        background: $bg-color;
        margin: 0px auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        .tarjeta-inicio{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .img-inicio{
                @include sizes (280px, 280px);
                margin: 5px;
                object-fit: cover;
            }
        }
        .tarjeta-contenido{
            h2{
                font-size: 24px;
            }
            p{
                font-size: 16px;
            }
        }
        .galeria{
            article{
                width: 85%;
            }
        }
        .lubri-servi{
            .tarjeta-servicios{
                flex-direction: row;
                width: 450px;
                .contenido-servicios{
                    display: flex;
                    flex-direction: column;
                    margin: 5px; 
                    padding: 5px;
                    h4{
                        font-size: 20px;
                    }               
                }
            }
                           
        } 
        .galeria-1{
            width: auto;
            margin: 10px 5px;
            padding: 5px;
            border-radius: 5px;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "h3 h3"
                                 "img1 img2"
                                 "img3 img4"
                                 "img5 img6"
                                 "img7 img8"
                                 "img9 img9";
            .img-quien{
                @include sizes (140px, 140px);
                margin:5px;
            }                                            
        }  
        h2{
            font-size: 34px;
        }
        .direccion-contacto{
            flex-direction: column;
        }
        iframe{
            margin: 1rem;
        }
        .formulario{
            width: auto;
            margin: 40px 5px;
            border-radius: 5px;
            grid-template-columns: 1fr;
            grid-template-areas: "contactanos" 
                                 "nombre" 
                                 "email" 
                                 "tel" 
                                 "asunto" 
                                 "mensaje" 
                                 "boton";
        }
    }
}
@media(max-width:576px){
    .cuerpo{
        .galeria-2{
            width: 300px;
            margin: 0;
            .img-galeria{
                @include sizes (120px, 120px)
            }
        }
    }
}

@media(max-width:480px){
    .cuerpo{
        .lubri-servi{
            .tarjeta-servicios{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 300px;
            }
                           
        }
        .galeria{
            article{
                width: 95%;
            }
        }
        .para-somos{
            font-size: 20px;
            text-decoration: solid;
        }
        .galeria-1{
            margin: 0;
            .img-quien{
                @include sizes (120px, 120px)
            }
        } 
        iframe{
            @include sizes (250px, 250px);
        }
        
    }
}