.menu{
    padding: 2rem;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    .lub-logo{
        width: 250px;
        height: 150 px;
        object-fit: cover
    }
    .navegador{
        background-color: $bg-color-nav; 
        display: flex;
        justify-content: end;
        height: 50px;
        align-items: end;
        .fa-bars{
            display: none;
            font-size: 32px;
            margin: 10px;
            color: red;
        }
        ul{
            list-style: none;
            display: flex;
            transition: 0.3s;
            li{
                display: flex;
                list-style: none;
                margin-left: 10px;
                padding: 0;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 18px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    padding: 5px;   
                }
            }
        }
    }
}
@media(max-width: 1024px){
    .menu{
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }
}
@media(max-width: 768px){
    .menu{
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        .navegador{ 
            .fa-bars{
                display: flex;
                font-size: 32px;
                margin: 10px;
                color: red;
                justify-content: start;
                align-items: end;
                &:hover + ul{
                    right: 0;
                }
            }
            ul:hover{
                right: 0;
            }
            ul{
                right: -350px;
                top: 0;
                position: fixed;
                background-color: white;
                width: 250px;
                height: 100vh;
                z-index: 5;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                padding-top: 15px;
                li a{
                    color: black;
                }
            }
        }
    } 
    .portada{
        font-size: 27px;
    }
}

@media(max-width:480px){
    .menu .lub-logo{
        width: 200px;
    }
    .portada h1{
        font-size: 24px;
    }
    .portada h2{
        font-size: 16px;
    }
}
.portada{
    background-image: url(../multimedia/imagenes/lavado-auto12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    color: red;
    text-align: right;    
    padding: 25px 40px;
    text-shadow: 2px 2px 2px white;
    h1{
        font-size: 32px;
        padding-right: 10px;
        font-family: 'Caveat';
    }
    h2{
        text-align: right;
        font-size: 18px;
        margin: 5px;
    }
}